In [2]:
import numpy as np
import pandas as pd

from pathlib import Path
from settings import config

DATA_DIR = Path(config("DATA_DIR"))
MANUAL_DATA_DIR = Path(config("MANUAL_DATA_DIR"))

In [18]:
from pull_player_id import load_player_id_df, load_player_list

player_id_df = load_player_id_df()

In [ ]:
import requests
from bs4 import BeautifulSoup

array(['1Jiang', '1xn', '369', 'AKi', 'Ale', 'Angel', 'Assum', 'Beichuan',
       'Bin', 'Breathe', 'Care', 'Climber', 'Creme', 'Crisp', 'Cube',
       'Doinb', 'Elk', 'Feather', 'Flandre', 'GALA', 'Haichao', 'Hang',
       'Heng', 'Hery', 'Hope', 'Hoya', 'JackeyLove', 'JiaQi', 'Jiejie',
       'Junhao', 'Jwei', 'Kael', 'Kanavi', 'Karis', 'Knight', 'Leave',
       'Lele', 'Light', 'Linfeng', 'Missing', 'Moham', 'Monki', 'Niket',
       'ON', 'Peyz', 'Photic', 'Ppgod', 'RooKie', 'Rosielove', 'Saber',
       'Scout', 'SeTab', 'Shad0w', 'Shanks', 'Shaoye', 'Starry',
       'Taeyoon', 'Tangyuan', 'Tarzan', 'TheShy', 'Tian', 'Tianzhen',
       'Vampire', 'Wako', 'Wei', 'WeiWei', 'Wink', 'XUN', 'Xiaohao',
       'Xiaoxu', 'Ycx', 'Zdz', 'Zhuo', 'Zika', 'bat', 'meiko', 'milkyway',
       'sasi', 'shanji', 'sheer', 'sorrow', 'xiaohu', 'xqw', 'Aiming',
       'Andil', 'Bdd', 'Berserker', 'BeryL', 'Bull', 'Bulldog', 'Canyon',
       'Chovy', 'Clear', 'Clozer', 'Cuzz', 'Delight', 'Diable', 'Doran',
       'DuDu', 'Duro', 'Faker', 'Fisher', 'GIDEON', 'Gumayusi', 'HamBak',
       'Hype', 'Jiwoo', 'Kellin', 'Keria', 'Kiin', 'LazyFeel', 'Lehends',
       'Life', 'Lucid', 'Morgan', 'Oner', 'Peanut', 'PerfecT', 'Pollu',
       'Pungyeon', 'Pyosik', 'Raptor', 'Rich', 'Ruler', 'ShowMaker',
       'Siwoo', 'Smash', 'Sponge', 'Teddy', 'Ucal', 'Vicla', 'Viper',
       'Way', 'Zeka', 'Zeus', 'deokdam', 'kingen', 'Calix', 'Callme',
       'Casting', 'DDoiV', 'Deft', 'DnDn', 'Effort', 'Envyy', 'Execute',
       'FATE', 'FIESTA', 'Frog', 'GuGer', 'Guwon', 'Hena', 'Kyeahoo',
       'Leaper', 'Mihile', 'Paduck', 'Peter', 'Pleata', 'Pullbae',
       'Quantum', 'Rascal', 'Samver', 'Sylvie', 'Vital', 'Willer',
       'YoungJae', '909', 'Able', 'Ahn', 'Burdol', 'Croco', 'Cryin',
       'Decade', 'Doggo', 'FoFo', 'Geju', 'H4cker', 'Iwandy', 'Juice',
       'Kepler', 'LP', 'Leyan', 'Lwx', 'Mark', 'Meteor', 'Ming', 'Moyan',
       'Prince', 'Qingtian', 'Qiuqiu', 'ShiauC', 'Solokill', 'Stay',
       'TheNiu', 'Thesnake', 'Wayward', 'Wen', 'XBY', 'XBear', 'XZZ',
       'Xiamu', 'Xiaolaohu', 'YSKM', 'Yagao', 'Yanxiang', 'Youdang',
       'Yuekai', 'ZUIAN', 'Zorah', 'glfs', 'huanfeng', 'jinjiao',
       'naiyou', 'neny', 'xiaofang', 'xiaoyueji'], dtype=object)

In [2]:
from pull_player_id import load_player_id_df
load_player_id_df()

Empty DataFrame
Columns: []
Index: []

In [7]:
import pandas as pd
path =  "../data_manual/player_list_S14-15.csv"
df = pd.read_csv(path)[["Player","Season"]]
unique_players = df["Player"].unique()
print(f"There are {len(unique_players)} players.")

There are 216 players.

In [15]:
from pathlib import Path
from settings import config
MANUAL_DATA_DIR = Path(config("MANUAL_DATA_DIR"))

In [24]:
from openpyxl import load_workbook
from pathlib import Path
from settings import config

MANUAL_DATA_DIR = Path(config("MANUAL_DATA_DIR"))
excel_path = MANUAL_DATA_DIR / "player_list_S14-15.xlsx"

# Load workbook and sheet
wb = load_workbook(excel_path, data_only=True)
sheet = wb.active

# Assuming first row is header
player_data = []
for row in sheet.iter_rows(min_row=2):  # skip header
    cell = row[0]  # column A = "Player"
    player_name = cell.value
    player_link = cell.hyperlink.target if cell.hyperlink else None

    if player_name and player_link:
        player_data.append((player_name, player_link))

# Convert to DataFrame if needed
import pandas as pd
df = pd.DataFrame(player_data, columns=["Player", "Hyperlink"]).drop_duplicates(["Player", "Hyperlink"])
df["Player_ID"] = df["Hyperlink"].str.split("/").str[-5]

In [34]:
load_player_id_df()

        player gg_id season league
0       1Jiang  5421    S15    LPL
1          1xn  5177    S15    LPL
2          369  1922    S15    LPL
3          AKi  3298    S15    LPL
4          Ale  1968    S15    LPL
..         ...   ...    ...    ...
323     shanji  3312    S14    LPL
324      sheer  5351    S14    LPL
325   xiaofang  5360    S14    LPL
326     xiaohu   347    S14    LPL
327  xiaoyueji  4279    S14    LPL

[327 rows x 4 columns]

In [2]:
import pandas as pd
from pull_match_list import load_match_list

df = load_match_list()
df.head(3)

  Champion  Result  Score Build  ...                Tournament  player gg_id season
0   Rumble  Defeat  2/2/1        ...  PCS Summer Playoffs 2024  1Jiang  5421    S14
1   Rumble  Defeat  3/4/7        ...  PCS Summer Playoffs 2024  1Jiang  5421    S14
2    Riven  Defeat  2/4/2        ...  PCS Summer Playoffs 2024  1Jiang  5421    S14

[3 rows x 11 columns]

In [17]:
df_grouped = df.groupby(["player","Game","Date","Result"])["Result"].value_counts()
df_grouped
# # Keep only those where max count is exactly 3
# filtered_groups = df_grouped[df_grouped["count"] == 3]
# filtered_groups

player  Game                       Date        Result
1Jiang  BYG vs FAK                 2024-03-03  Defeat     2
                                               Victory    1
        CFO vs FAK                 2024-03-23  Defeat     3
                                   2024-08-15  Defeat     2
                                               Victory    3
                                                         ..
xqw     LGD Gaming vs AL           2025-01-16  Defeat     3
        LGD Gaming vs OMG          2023-01-30  Defeat     2
        LGD Gaming vs Top Esports  2025-02-16  Defeat     3
        LGD Gaming vs WBG          2023-03-01  Defeat     2
        Team WE vs LGD Gaming      2025-01-22  Victory    3
Name: count, Length: 37321, dtype: int64